# dependencies
node_modules
.pnp
.pnp.js

# build output
dist
dist-ssr
build

# misc
.DS_Store
*.local
.env
.env.local

# editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?